<div>
{% comment %} sort blocks based on featured setting {% endcomment %}
  {% for block in section.blocks%}
  {% comment %} display title and description {% endcomment %}
    <h2> {{ block.settings.title }} </h2>
    <h3> {{ block.settings.description }} </h3>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "news-carousel",
    "blocks": [
      {
        "type": "block-1",
        "name": "Campaign",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "description"
          },
          {
            "type": "checkbox",
            "label": "Featured",
            "id": "featured",
            "default": false
          }
        ]
      },
      {
        "type": "block-2",
        "name": "New Product",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "description"
          },
          {
            "type": "checkbox",
            "label": "Featured",
            "id": "featured",
            "default": false
          }
        ]
      },
      {
        "type": "block-3",
        "name": "News",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "textarea",
            "label": "Description",
            "id": "description"
          },
          {
            "type": "checkbox",
            "label": "Featured",
            "id": "featured",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}