.addToCart-available {
  color:white;
  background-color: green;
}

.addToCart-available:hover{
  background-color: blue;
}

.addToCart-unavailable {
  background-color:grey;
}

.modal-list-item-container {
  align-items: center;
  justify-content: space-between;
  display:flex;
}